<div class='card'>
  <div class='flag'>
    <img src='' alt='' />
  </div>
  <div class='card-body'>
    <h2 class='card-title'>Назва: ${name.official}</h2>
    <p class='card-text'>Столиця: ${capital}</p>
    <p class='card-text'>Населення: ${population}</p>
    <ul class='list-lang'>
      <li class='list-lang-item'>Мови: ${Object.values(languages)}</li>
    </ul>
  </div>
</div>